* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #000;
    color: white;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    background-color: black;
}

.logo {
    
}

.nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 16px;
}


.btn {
    border: 2px solid white;
    padding: 8px 15px;
    text-decoration: none;
    color: white;
    border-radius: 20px;
    font-size: 14px;
}